body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.body .row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 1/4;
  
}
.body .inner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 1/4;
}
.body .row {
  display: none;
}
.body .row.active {
  display: grid;
}